.App {
  text-align: center;
  max-height: 100vh;
  min-height: 100vh;
  width: 100vw;
  display: flex;
}

.code-container {
  background: #073642;
  flex: 75%;
  height: 100vh;
  overflow: scroll;
  /* padding: 8px;  */
}
.output-screen {
  flex: 25%;
  overflow: scroll;
  padding: 50px 8px;

}
.code-input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  color: white;
  resize: none;
}
.code-input:focus {
  outline: none;
}
.code {
  background: none;
  color: white;
  margin: 0;
  text-align: left;
}